body {
    background-image: url("https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661")
}

header {
    border-bottom: solid #cccccc;
    background: #ffffff;
    margin: 0 auto;
    height: 80px;
    margin: -11px;
    padding: 10px;
    position: relative;
}

/*This codes the title within the header*/

.head-title {
    margin: 0 auto;
    width: 960px;
    position: absolute;
    margin-bottom: 15px;
    margin-right: 25px;
}

#name{
    background: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#ffffff;
    text-align: center;
    font-size: 32px;
    margin-left: 260px;
    position: absolute;
    padding: 27px;
}

/* Below codes the buttons for the internal links*/
ul {
    list-style-type: none;
    margin-right: -300px;
    padding: 15px;   
}

li a {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif; 
    display: inline-block;
    text-decoration: none;
    float: right;
   
}

#link {
    border-right: 1px solid #777777;
    margin-right: 5px;
    padding-right:5px;
}

/*Code below for the style of the main body for each page*/

h1 {
    color: #4aaaa5; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 27px;
    width: 200px;
}

.container {
    background: #ffffff;
    border: 5px solid #eeeeee;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    width: 960px;
    margin: 0 auto;
    padding: 20px 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    overflow: auto;

}

/*This code is for the contents of the About Me page*/

p { 
    line-height: 1.5;
    font-size: 16px;
}

#bio-img {
    float: left;
    width: 120px;
    height: 150px;
    margin-right: 10px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    text-align: center; 
    line-height: 40px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
    position: fixed;
    clear: both;
}

/*This code is for the content of the Contact page*/

.submit a {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    position: relative;
}

/*This code is for the contents of Portfolio page*/
/*This makes up one "row" on the screen and was setup using the tutorial from art-of-the-web.com*/
.layer1 {
    width: 200px;
    position: relative; 
    top: 20px; 
    left: 20px;
}

 h5 span {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 10px;
}

.layer2 { 
    position: relative;
    width: 200px;
    height: 200px;
    float: right;
    bottom: 200px;
    right: 400px;
}   
    
h5 span {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 180px;
    bottom: 20;
    padding: 10px;
    float: right;
}
/*If there was more code, then a clearfix would have been needed to 
stop the float from affecting other elements.*/